player-connection-mode=Listen
player-connection-guid=3430030899
player-connection-debug=0
player-connection-project-name=game online 3d
player-connection-ip=26.27.251.50
player-connection-ip=192.168.56.1
player-connection-ip=192.168.56.2
player-connection-ip=192.168.149.1
player-connection-ip=192.168.138.1
player-connection-ip=172.31.99.30
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=76833014d1fe49049ba1794b9213ecba
